body {
    background-color: #fff4f4;
    margin:0;
}
li {
    list-style: none;
}
#wrap {
    height: 100%;
    width:100%;
}
#container {
    background-color: #fff;
    max-width: 420px;
    margin: 10px auto;
    padding-bottom: 30px;
    text-align: center;
}

.color {font-size: 0.9rem;color:#ecc1ab; display: inline-block; margin-top:10px;}


#main_img img,
.calendar img {
    width: 100%;
}
h2 {
    color: #ecc1ab;
    font-size: 1.125rem;
}
#top p {font-size:0.9375rem; line-height:25px; font-weight:600; margin-bottom:0;}
#heart img {width:30%;}
#invite, #name {display: inline-block; font-size:1.2rem; margin-bottom:10px;}
.greeting {margin-bottom:20px;}
.greeting #greetP {line-height:2rem; margin-top:0;}

body img {
    opacity: 1 !important;
}
.calendar img {
    margin: 40px 0;
}

#box-wrap {
    display: inline-block;
    margin-bottom: 60px;
}
#box-container {
    margin: 0;
    padding: 10px 10px 0;

}
.box {
    list-style-type: none;
    float: left;
    width: 24%;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 50px;
    overflow: hidden;
}
.box:first-child,
:nth-child(5) {
    margin-left: 0;
}
.box a {
    display: block;
    width: 100%;
    height: 92px;
    opacity: 0.8;
    /* border:1px solid #F9B4A7; */
}
.box a img {
    -webkit-back-visibility: hidden;
    display: block;
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
#imgC {width:132%; margin-left:-10px;}

@media screen and (max-width: 799px) {
    #fork-this {
        display: none;
    }
    #share #fb {
        top: -8px;
    }
    .button {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .button {
        font-size: 1.3rem;
        padding: 1.4rem 2rem;
    }
}
@media screen and (max-width: 410px) {
  #box-container { padding:10px 5px 0; }
  .box {width:24.5%; margin-left:2px;}
  .box a { height:86px; }
  .box a img {width:105%;}
  .box:first-child,
  :nth-child(5) { margin-left: 0; }
  #imgC {width:148%; margin-left:-14px;}
  .way_guide ul {padding-left:10px;}
}

/* Overwwrite old school button */
.button-big {
    box-shadow: none !important;
    border-radius: 0;
    top: 0 !important;
}

.button-big:hover {
    opacity: 0.8 !important;
}
/* 갤러리 */

.bottom {
    clear: both;
}
.bottom p {
  font-size:0.9375rem; line-height:25px; font-weight:600
}
/* 지도 */
.way_guide {
    text-align: left;
}
.way_guide ul {
    padding-left: 20px;
}
.way_guide ul li {
    margin-bottom: 20px;
}
.bus-way {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 3px;
}
.txt-color {
    color: #ecc1ab;
    margin-bottom: 10px;
    font-size: 0.9375rem;
    margin-bottom: 10px;
}
.guide {
    color: #777;
    font-size: 0.875rem;
    line-height: 20px;
}
#dl { display:inline-block; font-size:1.25rem; margin-bottom:10px;}
#btn_div_copy {
    padding: 6px 10px;
    background: #fff;
    border: 1px solid #aaa;
    color:#888;
    display: block;
    margin:5px auto;
}
.wrap_controllers {
    display: none;
}

#footer {
    padding-top: 20px;
    font-size: 0.6rem;
    color: #aaa;
}
